@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
*{
    
    font-family: 'Signika';
    box-sizing: border-box;
}

.page1{
    height: 100vh;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(to top left, rgb(1, 0, 27) 30%  , rgb(27, 11, 63) );  
    margin: 0;  
    
}



.perfil{
    width: 200px;
    text-align: center;
    margin: 0 auto;
    
}

.introducao{
    color: white;
    text-align: center;
    margin: 0 auto;
}

.foto{
    max-height: 200px;
    border-radius: 50%;
    margin-top: 50%;
}

.btn-saiba-mais{
    color: white;
    text-decoration: none;
    font-size: 20px;
    animation: piscar 2.5s infinite;
}

.saibaMais{
    text-align: center;
    margin-top: 20%;
}

@keyframes piscar {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    50% {
      width: 300px;
      height: 300px;
      opacity: 0.2;
    }
    
    100% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }  
  }

  .page2{
    height: 100vh;
    text-align: center;
    padding: 10%;
    
  }

  .sobreMim, .projetos{
    color: white;
    
  }

  .title{
    font-size: 50px;
  }

  .texto{
    font-size: 25px;
  }